<mat-tab-group dynamicHeight mat-align-tabs="center" animationDuration="1000ms">
    <mat-tab label="Publicaciones">
        <div class="dr-post-body">
            <div class="dr-post">
                <div class="dr-add-post mat-elevation-z4">
                    <div>
                        <mat-card *ngIf="postTemp && postTemp != '-' || images.length != 0 || attachments.length != 0" color="dark-gray">
                            <mat-card class="dr-card-post-preview">
                                <mat-card-header>
                                    <div mat-card-avatar class="dr-header-image-user"></div>
                                    <mat-card-title>{{user}}</mat-card-title>
                                    <mat-card-subtitle>{{date| date: 'longDate'}}</mat-card-subtitle>
                                    <span class="dr-spacer"></span>
                                    <button mat-icon-button (click)="deletePostTemp()"><mat-icon>delete_forever</mat-icon></button>
                                </mat-card-header>
                                <div mat-card-image [ngClass]="{'dr-card-preview': images.length != 0 }">
                                    <slideshow *ngIf="images.length != 0" class="dr-slide-post" [arrowSize]="'30px'" [lazyLoad]="images.length > 1" [showCaptions]="true" [showDots]="true" [backgroundPosition]="'center center'" [backgroundSize]="'cover'" [autoPlay]="true" [showArrows]="true"
                                        [imageUrls]="images" [autoPlayInterval]="'3333'"></slideshow>
                                </div>
                                <div class="dr-group-files">
                                    <div *ngFor="let attached of attachments; let i = index">
                                        <img mat-card-image matTooltip="{{attached.name}}" src="../../../assets/icons/pdf.png" class="dr-preview" *ngIf="attached.ext === 'pdf'">
                                        <img mat-card-image matTooltip="{{attached.name}}" src="../../../assets/icons/excel.png" class="dr-preview" *ngIf="attached.ext === 'xlsx'">
                                        <img mat-card-image matTooltip="{{attached.name}}" src="../../../assets/icons/ppt.png" class="dr-preview" *ngIf="attached.ext === 'pptx'">
                                        <img mat-card-image matTooltip="{{attached.name}}" src="../../../assets/icons/word.png" class="dr-preview" *ngIf="attached.ext === 'docx'">
                                        <img mat-card-image matTooltip="{{attached.name}}" src="../../../assets/icons/csv.png" class="dr-preview" *ngIf="attached.ext === 'csv'">
                                        <img mat-card-image matTooltip="{{attached.name}}" src="../../../assets/icons/zip.png" class="dr-preview" *ngIf="attached.ext === 'zip'">
                                        <img mat-card-image matTooltip="{{attached.name}}" src="../../../assets/icons/rar.png" class="dr-preview" *ngIf="attached.ext === 'rar'">
                                        <a mat-icon-button (click)="deleteAtt(attached.url,i)"><i class="fas fa-minus-circle dr-color-red-dark"></i></a>
                                    </div>
                                </div>
                                <mat-card-content>
                                    <div *ngIf="postTemp" class="dr-dix-texarea-body" [ngClass]="{'dr-text-tab': !viewFroala}" [froalaView]="postTemp"></div>
                                </mat-card-content>
                            </mat-card>
                        </mat-card>
                    </div>
                    <mat-divider *ngIf="postTemp && postTemp != '-' || images.length != 0 || attachments.length != 0" class="dr-divider-10">
                    </mat-divider>
                    <textarea *ngIf="viewFroala" [ngClass]="{'dr-froala-body': viewFroala}" [froalaEditor]="options" [(froalaModel)]="postTemp"></textarea >
                    <textarea placeholder="Edita tu Post!" *ngIf="!viewFroala" [ngClass]="{'dr-textarea-dark': !viewFroala}" [(ngModel)]="postTemp" rows="5"></textarea >
                    <mat-toolbar color="dark-gray" class="dr-toolbar-post">
                        <div>
                            <button mat-icon-button (click)="uploadImg()" [disabled]="limitImg" class="dr-pulse-clear dr-icon-push"><i matTooltip="Has alcanzado el límite de Imagenes!" [matTooltipDisabled]="!limitImg" class="fas fa-camera dr-icon"></i></button>
                            <button mat-icon-button (click)="uploadFile()" [disabled]="limitFiles" class="dr-pulse-clear dr-icon-push"><i matTooltip="Has alcanzado el límite de Archivos!" [matTooltipDisabled]="!limitFiles"  class="fas fa-file-upload dr-icon"></i></button>
                            <button mat-button (click)="showFroala()" *ngIf="postTemp" color="primary">{{nameEditor}}</button>
                        </div>
                        <span class="dr-spacer"></span>
                        <button mat-raised-button (click)="createNewPost()" color="accent" [disabled]="user == ''" class="dr-pulse-clear"><span matTooltip="Suscribete para publicar contenidos" [matTooltipDisabled]="user != ''">Publicar</span></button>
                    </mat-toolbar>
                </div>
                
                
                <div *ngFor="let post of posts, let i = index">
                    <mat-divider class="dr-divider-30"></mat-divider>
                    <mat-card class="dr-card">
                        <mat-card-header>
                            <div mat-card-avatar [ngClass]="{'dr-header-image': post.user == 'David Roa', 'dr-header-image-user': post.user != 'David Roa'}"></div>
                            <mat-card-title>{{post.user}}</mat-card-title>
                            <mat-card-subtitle>{{post.date | date: 'longDate'}}</mat-card-subtitle>
                            <span class="dr-spacer"></span>
                            <button mat-icon-button><mat-icon>more_vert</mat-icon></button>
                        </mat-card-header>
                        <div mat-card-image *ngIf="post.images" [ngClass]="{'dr-card-preview': post.images.length != 0 }">
                            <slideshow *ngIf="post.images.length != 0" class="dr-slide-post" [arrowSize]="'30px'" [lazyLoad]="post.images.length > 1" [showCaptions]="true" [showDots]="true" [backgroundPosition]="'center center'" [backgroundSize]="'cover'" [autoPlay]="true" [showArrows]="true"
                                [imageUrls]="post.images" [autoPlayInterval]="'3333'"></slideshow>
                        </div>
                        <div *ngIf="post.attachments" class="dr-group-files">
                            <div *ngFor="let attached of post.attachments; let i = index">
                                <img mat-card-image matTooltip="{{attached.name}}" src="../../../assets/icons/pdf.png" class="dr-preview" *ngIf="attached.ext === 'pdf'">
                                <img mat-card-image matTooltip="{{attached.name}}" src="../../../assets/icons/excel.png" class="dr-preview" *ngIf="attached.ext === 'xlsx'">
                                <img mat-card-image matTooltip="{{attached.name}}" src="../../../assets/icons/ppt.png" class="dr-preview" *ngIf="attached.ext === 'pptx'">
                                <img mat-card-image matTooltip="{{attached.name}}" src="../../../assets/icons/word.png" class="dr-preview" *ngIf="attached.ext === 'docx'">
                                <img mat-card-image matTooltip="{{attached.name}}" src="../../../assets/icons/csv.png" class="dr-preview" *ngIf="attached.ext === 'csv'">
                                <img mat-card-image matTooltip="{{attached.name}}" src="../../../assets/icons/zip.png" class="dr-preview" *ngIf="attached.ext === 'zip'">
                                <img mat-card-image matTooltip="{{attached.name}}" src="../../../assets/icons/rar.png" class="dr-preview" *ngIf="attached.ext === 'rar'">
                                <a mat-icon-button [href]="attached.url"><i class="fas fa-file-download"></i></a>
                            </div>
                        </div>
                        <mat-card-content>
                            <div *ngIf="post.text" class="dr-dix-texarea-body dr-text-tab" [froalaView]="post.text"></div>
                        </mat-card-content>
                        <mat-card-actions>
                                <button mat-icon-button [disabled]="user == ''" class="dr-pulse-clear dr-icon-push"><i matTooltip="Ingresa para activar los likes" [matTooltipDisabled]="user != ''"  class="fas fa-heart dr-icon"></i></button>
                                <button mat-icon-button [disabled]="user == ''" class="dr-pulse-clear dr-icon-push"><i matTooltip="Ingresa para compartir" [matTooltipDisabled]="user != ''"  class="fas fa-share-alt dr-icon"></i></button>
                                <button mat-icon-button (click)="commentPost(post)" [disabled]="user == ''" class="dr-pulse-clear dr-button-rigth dr-icon-push"><i matTooltip="Ingresa para comentar" [matTooltipDisabled]="user != ''"  class="fas fa-comment dr-icon"></i></button>
                        </mat-card-actions>

                        <!--Acordeon-->
                        <mat-accordion class="example-headers-align">
                            <mat-expansion-panel hideToggle (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                                <mat-expansion-panel-header>
                                    <mat-panel-title [class.dr-icon-float-away]="panelOpenState" [class.dr-icon-sink-away]="!panelOpenState">
                                        <i *ngIf="!panelOpenState" class="dr-icon fas fa-hand-point-down"></i>
                                        <i *ngIf="panelOpenState" class="dr-icon fas fa-hand-point-up"></i>
                                        <span class="dr-spam-coments">Comentarios</span>
                                    </mat-panel-title>
                                    <mat-panel-description>
                                        <span class="dr-spacer"></span>
                                        <mat-icon>account_circle</mat-icon>
                                    </mat-panel-description>
                                </mat-expansion-panel-header>
                                <mat-nav-list class="dr-nav">
                                    <a *ngFor="let comment of post.comments; let i=index" mat-list-item class="dr-item-lis">
                                        <div class="scrollbar" id="style-1">
                                            <p mat-line class="dr-user-post-public">{{comment.user}}
                                                <span class="dr-subline">{{comment.date | date: 'longDate'}}</span>
                                            </p>
                                            <p mat-line class="dr-adjust-text">
                                                <span class="dr-post-coment">{{comment.message}}</span>
                                            </p>
                                        </div>
                                        <img mat-list-avatar src="../../../assets/image/user.gif" alt="">
                                    </a>                                  
                                </mat-nav-list>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </mat-card>
                </div>
            </div>
        <div class="dr-timeline-post">
            <div class="dr-publis-post mat-elevation-z4">
                <mat-toolbar color="dark-gray" class="dr-toolbar-activity">
                    <span>Actividad</span>
                </mat-toolbar>
                <mat-nav-list class="dr-nav">
                    <a mat-list-item class="dr-pulse-dark dr-icon-buzz-out">
                        <h1 mat-line class="dr-user-post-public">DaVid Roa
                            <span class="dr-post-public">Publicaste en tu perfil</span>
                        </h1>
                        <p mat-line>
                            <span class="dr-subline">{{date | date: 'longDate'}}</span>
                        </p>
                        <img mat-list-avatar src="../../../assets/image/david-profile-photo.jpeg" alt="">
                    </a>

                    <a mat-list-item class="dr-pulse-dark dr-icon-buzz-out">
                        <h1 mat-line class="dr-user-post-public">DaVid Roa
                            <span class="dr-post-public">Comentó tu post</span>
                        </h1>
                        <p mat-line>
                            <span class="dr-subline">{{date | date: 'longDate'}}</span>
                        </p>
                        <img mat-list-avatar src="../../../assets/image/david-logo-circle.png" alt="">
                    </a>

                    <a mat-list-item class="dr-pulse-dark dr-icon-buzz-out">
                        <h1 mat-line class="dr-user-post-public">DaVid Roa
                            <span class="dr-post-public">Conmentaste tu post</span>
                        </h1>
                        <p mat-line>
                            <span class="dr-subline">{{date | date: 'longDate'}}</span>
                        </p>
                        <img mat-list-avatar src="../../../assets/image/david-profile-photo.jpeg" alt="">
                    </a>
                </mat-nav-list>
            </div>
        </div>
        </div>
    </mat-tab>
    <mat-tab label="Información">
        <div class="dr-loading">
            <div class="dr-small-box">
                <br>
                <br>
                <span class="back">
            <span>L</span>
                <span>o</span>
                <span>a</span>
                <span>d</span>
                <span>i</span>
                <span>n</span>
                <span>g</span>
                </span>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Galeria">
        <div class="dr-loading">
            <div class="dr-small-box">
                <br>
                <br>
                <span class="back">
                    <span>L</span>
                <span>o</span>
                <span>a</span>
                <span>d</span>
                <span>i</span>
                <span>n</span>
                <span>g</span>
                </span>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>