<mat-nav-list>
    <a mat-list-item class="dr-pulse-dark dr-icon-buzz-out">
        <h1 mat-line>DaVid Roa</h1>
        <p mat-line>
            <span class="dr-subline">/davidroa763</span>
        </p>
        <i mat-list-avatar class="dr-icon fab fa-facebook"></i>
        <a mat-icon-button class="dr-pulse-clear" matTooltip="DaVid Roa" href="https://www.facebook.com/davidroa763" (click)="openLink($event)"><i class="fas fa-angle-double-right"></i></a>
    </a>

    <a mat-list-item class="dr-pulse-dark dr-icon-buzz-out">
        <h1 mat-line>DaVid Roa</h1>
        <p mat-line>
            <span class="dr-subline">@davidleon20</span>
        </p>
        <i mat-list-avatar class="dr-icon fab fa-twitter-square"></i>
        <a mat-icon-button class="dr-pulse-clear" matTooltip="DaVid Roa" href="https://twitter.com/davidleon20" (click)="openLink($event)"><i class="fas fa-angle-double-right"></i></a>
    </a>

    <a mat-list-item class="dr-pulse-dark dr-icon-buzz-out">
        <h1 mat-line>David Roa</h1>
        <p mat-line>
            <span class="dr-subline">davidroa_drums</span>
        </p>
        <i mat-list-avatar class="dr-icon fab fa-instagram"></i>
        <a mat-icon-button class="dr-pulse-clear" matTooltip="David Roa" href="https://www.instagram.com/davidroa_drums/?hl=es-la" (click)="openLink($event)"><i class="fas fa-angle-double-right"></i></a>
    </a>

    <a mat-list-item class="dr-pulse-dark dr-icon-buzz-out">
        <h1 mat-line>David Roa</h1>
        <p mat-line>
            <span class="dr-subline">david-roa-934363110</span>
        </p>
        <i mat-list-avatar class="dr-icon fab fa-linkedin"></i>
        <a mat-icon-button class="dr-pulse-clear" matTooltip="David Roa" href="https://www.linkedin.com/in/david-roa-934363110" (click)="openLink($event)"><i class="fas fa-angle-double-right"></i></a>
    </a>
</mat-nav-list>