.dr-icon {
    padding: 0 14px;
    font-size: 40px
}

.dr-subline {
    color: #797979;
}


/* pulse button*/

@-webkit-keyframes dr-pulse-dark {
    50% {
        background-color: gray;
        color: rgb(56, 56, 56);
    }
}

@keyframes dr-pulse-dark {
    50% {
        background-color: gray;
        color: rgb(56, 56, 56);
    }
}

.dr-pulse-dark {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    -webkit-transition-duration: 1s;
    transition-duration: 01s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.dr-pulse-dark:hover,
.dr-pulse-dark:active {
    -webkit-animation-name: dr-pulse-dark;
    animation-name: dr-pulse-dark;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-delay: .3s, 1s;
    animation-delay: .3s, 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: rgb(56, 56, 56);
    background-color: rgb(56, 56, 56);
    color: gray;
}


/* pulse button*/

@-webkit-keyframes dr-pulse-clear {
    50% {
        background-color: gray;
        color: rgb(56, 56, 56);
    }
}

@keyframes dr-pulse-clear {
    50% {
        background-color: rgb(56, 56, 56);
        color: gray;
    }
}

.dr-pulse-clear {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    overflow: hidden;
    -webkit-transition-duration: 1s;
    transition-duration: 01s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

.dr-pulse-clear:hover,
.dr-pulse-clear:active {
    -webkit-animation-name: dr-pulse-clear;
    animation-name: dr-pulse-clear;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-delay: .3s, 1s;
    animation-delay: .3s, 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: gray;
    background-color: gray;
    color: rgb(56, 56, 56);
}


/* Icon Buzz Out */

@-webkit-keyframes dr-icon-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes dr-icon-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }
    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }
    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }
    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

.dr-icon-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.dr-icon-buzz-out .dr-icon {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.dr-icon-buzz-out:hover .dr-icon,
.dr-icon-buzz-out:focus .dr-icon,
.dr-icon-buzz-out:active .dr-icon {
    -webkit-animation-name: dr-icon-buzz-out;
    animation-name: dr-icon-buzz-out;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}