.dr-center-info {
    text-align: center;
}

.dr-check-alert {
    font-size: 40px;
}

.mat-form-field-flex {
    border-radius: 14px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.34)
}

.mat-form-field-infix {
    margin-left: 10px;
    margin-top: 5px;
}

.mat-form-field-label-wrapper {
    overflow: inherit !important;
}

.mat-form-field-label {
    top: 13px !important;
}

.dr-from-field-input {
    width: 230px;
}

.dr-input {
    margin-left: 10px !important;
    width: 90% !important;
}

.dr-p-b-40 {
    padding-bottom: 40px;
}

.dr-m-l-20 {
    margin-left: 20px;
}

.dr-m-t-80 {
    margin-top: 80px;
}

.dr-sign-60 {
    width: 60%;
}

.dr-text-top-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.dr-login-social {
    height: 60px;
    width: 60px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.34)
}

.dr-icon-social {
    font-size: 30px;
}