<div>
    <div class="dr-center-info">
        <h3 class="dr-title-login">Bienvenido</h3>
        <div class="dr-p-b-40">
            <img class="dr-img-login" src="../../../../assets/image/david-logo-primary.png" alt="">
        </div>
        <div>
            <form>
                <mat-form-field class="dr-from-field-input">
                    <input matInput type="email" class="dr-input" placeholder="email" [formControl]="emailFormControl" autocomplete="off">
                    <mat-error *ngIf="!emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Usuario ya <strong>existe!</strong>
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                        Ingrese un Email Valido!
                    </mat-error>
                    <mat-error *ngIf="emailFormControl.hasError('required')">
                        Email es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="dr-from-field-input">
                    <input matInput type="password" class="dr-input" placeholder="password" [formControl]="passFormControl" autocomplete="off">
                    <mat-error *ngIf="passFormControl.hasError('minlength') && !passFormControl.hasError('required')">
                        Debe ser contener mas de 8 caracteres!
                    </mat-error>
                    <mat-error *ngIf="passFormControl.hasError('required')">
                        Password es <strong>requerido</strong>
                    </mat-error>
                </mat-form-field>
            </form>
        </div>
        <button mat-raised-button (click)="registry()" color="accent" [disabled]="emailFormControl.status != 'VALID' || passFormControl.status != 'VALID'" class="dr-sign-60">Ingresar</button>
    </div>
</div>