<div class="dr-div-title-info">
    <div class="dr-div-title">
        <h1 mat-dialog-title class="dr-div-title-user">{{data.user}}!</h1>
        <span class="dr-subline">{{data.post.date | date: 'longDate'}}</span>
    </div>
    <div class="dr-div-info">
        <button mat-icon-button matTooltip="Estaras notificado activando las Alertas">
                <i class="fas fa-info-circle"></i>
        </button>
    </div>
</div>
<div>
    <div class="dr-center-info">
        <h3>Escribe tu comentario</h3>
        <textarea [(ngModel)]="message" class="dr-textarea-dark dr-user-textarea" rows="5"></textarea>
        <mat-divider class="dr-divider-20"></mat-divider>
        <button mat-icon-button (click)="commentPost()" [disabled]="message == ''" class="dr-pulse-clear dr-button-top dr-icon-push"><i matTooltip="Ingresa un valor para enviar" [matTooltipDisabled]="message != ''"  class="fas fa-paper-plane dr-icon dr-send-comment"></i></button>
    </div>
</div>