/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
    background-color: #2196f3
}

.mat-raised-button.mat-accent {
    background-color: #2196f3
}

.mat-toolbar.mat-primary {
    background: #303030;
    color: #a7a7a7;
}

.mat-toolbar.mat-dark {
    background: rgb(30, 33, 41);
    color: #a7a7a7;
}

.mat-toolbar.mat-dark-gray {
    border-top-color: rgba(255, 255, 255, .12);
    background: #212121;
    color: #a7a7a7;
}

.mat-dialog-container {
    background: #303030;
    color: #a7a7a7;
}

.mat-stepper-horizontal,
.mat-stepper-vertical {
    background: #303030;
    color: #a7a7a7;
}

.mat-step-header .mat-step-label.mat-step-label-active {
    background: #303030;
    color: #a7a7a7;
}

.mat-step-header .mat-step-label,
.mat-step-header .mat-step-optional {
    background: #303030;
    color: #a7a7a7;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background: #2196f3;
    color: #fbfcfc;
}

.mat-step-icon-state-error .mat-icon {
    color: red
}

.mat-from-field.mat-focused .mat-from-field-label {
    color: #2196f3
}

.mat-bottom-sheet-container {
    background: #303030;
    color: #a7a7a7;
}

.mat-list-base .mat-list-item {
    color: #fbfcfc;
}

.mat-drawer-container {
    background: #303030;
    color: #a7a7a7;
}

.mat-tab-label,
.mat-tab-link {
    color: #a7a7a7;
}

.mat-card {
    background: #424242;
    color: #a7a7a7;
}

.mat-card-subtitle {
    color: #797979;
}

.mat-list-base .mat-list-item {
    color: #f2f2f2;
}

.mat-drawer {
    color: #f2f2f2;
    background: #2d323e
}

.mat-menu-panel {
    background: #424242;
    color: #a7a7a7;
}

.mat-menu-item {
    color: #a7a7a7;
}

.mat-menu-item .mat-icon-no-color,
.mat-menu-item-submenu-trigger::after {
    color: #a7a7a7;
}

.mat-divider {
    border-top-color: #797979
}

.mat-tree {
    background: #303030;
    color: #a7a7a7;
}

.mat-nested-tree-node,
.mat-tree-node {
    color: #797979;
}

.mat-expansion-panel {
    background: #303030;
    color: #a7a7a7;
}

.mat-expansion-indicator::after,
.mat-expansion-panel-header-description {
    color: #a7a7a7;
}

.mat-expansion-panel-header-title {
    color: #a7a7a7;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]) .mat-expansion-panel-header:hover {
    background: #303030;
    color: #a7a7a7;
}

.fr-toolbar {
    border: 0 !important;
}

.second-toolbar {
    border: 1px solid #303030 !important;
}

.fr-box.fr-basic .fr-wrapper {
    border: 0 !important;
}

.fr-view .fr-class-code {
    background: #353535 !important;
}

.fr-view .fr-class-highlighted {
    background-color: #2196f3 !important;
    color: #f2f2f2 !important
}