<div class="dr-banner-div dr-p-24 dr-div-banner">
    <div class="dr-div-profile">
        <img class="dr-profile-photo" src="../../../assets/image/david-profile-photo.jpeg" alt="david">
        <div class="dr-profile-name">David Roa</div>
    </div>
    <div class="dr-div-button-profile">
        <button mat-icon-button matTooltip="Redes" class="dr-back-pulse-dark dr-icon-up dr-button-profile" (click)="openBottomSheet()"><i class="far fa-thumbs-up dr-icon dr-i-m-10"></i></button>
        <button mat-icon-button matTooltip="SMS" class="dr-back-pulse-dark dr-icon-bounce dr-button-profile" (click)="openDialog()"><i class="fas fa-comment-dots dr-icon dr-i-m-7"></i></button>
    </div>
</div>